<ul class="row-item-article-list">
	<li>
		<a href="#">Derde geval van vogelgriep in Nederland</a>
	</li>
	<li>
		<a href="#">Di Rupo: "We moeten regering Michel terugdringen"</a>
	</li>
	<li>
		<a href="#">Peeters roept bruggepensioneerden terug naar Belgie«</a>
	</li>
	<li>
		<a href="#">Obama gaat vijf miljoen illegalen regulariseren</a>
	</li>
	<li>
		<a href="#">2.667 ingangsexamens geneeskunde moeten herteld</a>
	</li>
	<li>
		<a href="#">'Het begint met slet en eindigt met een mep'</a>
	</li>
</ul>